<div id="ny-booking" class="col-md-12 view-container">
  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <div class="row">
        <div class="col-md-12">
            <h3>Søk etter band</h3>
            <hr>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="Search for artist">Søk</label>
            <input type="text" class="form-control" name="name" ng-model="searchText" ng-change="searchForArtist(searchText)"/>
          </div>
        </div>
        <div class="col-md-12" style="height: 600px; overflow: scroll; overflow-x: hidden;">
          <div class="col-md-12" style="padding: 0px; margin-bottom: 20px;" ng-repeat="artist in searchResult|limitTo:15">
            <div class="col-md-4">
              <img src="{{artist.images[0].url}}" alt="" height="100px"/>
            </div>
            <div class="col-md-8">
              <p><b>Navn:</b> {{artist.name}}</p>
              <p><b>Followers:</b> {{artist.followers.total}}</p>
              <a href="#{{artist.id}}" class="modal-link" data-toggle="modal" target="_self">Click</a>
            </div>
            <div class="item-modal modal fade" id="{{artist.id}}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl">
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="modal-body">
                                    <h2>{{artist.name}}</h2>
                                    <h4><small><b>followers:</b> {{artist.followers.total}}</small></h4>
                                    <hr class="star-primary">
                                    <img src="{{artist.images[0].url}}" class="img-responsive img-rounded img-centered" alt="" style="height:100px;"> <!-- Her må css-koden fjernes og endres -->
                                    <p>
                                      <i>
                                        "I am honored to be a part of SEA, because i get an unique chance to learn a lot about the Ethiopian society and their challenges.
                                        Seeing how unfair the world is, makes me well aware of the fact that we need change and adjustments.
                                        This project does not only provide this, but it also promotes environmental sustainability and better life quality for all people,
                                        which are two things that I highly value and want to contribute to achieve."
                                      </i>
                                    </p>
                                    <div class="work-experience-list">
                                      <h3><strong>Sjangere:</strong></h3>
                                      <ul ng-repeat="genre in artist.genres">
                                        <li><strong><a>{{genre}}</a></strong></li>
                                      </ul>
                                    </div>
                                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <div class="row">
        <div class="col-md-12">
            <h3>Ny Booking</h3>
            <hr>
        </div>
        <div class="col-md-12">
          <form name="bookingForm">
            <div class="form-group" show-errors>
              <label>Artist: <input type="text" class="form-control" name="artist" ng-model="booking.artist" required /></label>
            </div>
            <div class="form-group" show-errors>
              <label>Billettpris: <input type="text" class="form-control" name="billettpris" ng-model="booking.billettpris" required /></label>
            </div>
            <div class="form-group" show-errors>
              <label>Dato: <input type="date" class="form-control" name="dato" ng-model="booking.dato" required /></label>
            </div>
            <div class="form-group" show-errors>
              <label>Kostnad: <input type="text" class="form-control" name="kostnad" ng-model="booking.kostnad" required /></label>
            </div>
            <div class="form-group" show-errors>
              <label>Scene: <input type="text" class="form-control" name="scene" ng-model="booking.scene" required /></label>
            </div>
            <button ng-click="sendBooking(booking)" type="submit" ng-disabled="bookingForm.$invalid" class="btn btn-primary">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
