body {
  font-family: "futura-pt", "Lato", sans-serif;
}
a {
  text-decoration: none;
  color: #a03033;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}

.row2 {
    margin-left: 25px;
    margin-right: 10px;
}

#top-bar {
  background-color: #111;
  overflow: hidden;
  color: white;
  height: 30px;
}
@media screen and (min-width: 481px) {
  #top-bar #banner-logo {
    float: left;
    height: 15px;
    width: 180px;
    margin-top: 8.25px;
    background-image: url(../assets/img/samfundetlogo_hvit.png);
    background-repeat: no-repeat;
    background-size: 180px;
  }
}
#top-bar #session-status {
  float: right;
  margin-top: 9px;
  font-weight: bold;
  font-size: 0.7em;
}
#top-bar #session-status a {
  color: white;
  margin-left: 10px;
}
#header {
  margin: 10px 0;
  color: #111;
  /*
  a:not(.samfundet-icon) {
    display: block;
    color: @theme-primary;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    .transition-all();
    &:hover {
      text-decoration: none;
      color: @theme-danger;
    }
    &:focus {
      text-decoration: none;
      color: @theme-danger;
    }
    &:active {
      text-decoration: none;
      color: @theme-danger;
    }
  }*/
}
#header .col-md-5 {
  overflow: hidden;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
#header .col-md-5 nav {
  width: 100%;
  height: 100%;
}
#header .col-md-5 nav ul {
  list-style-type: none;
  list-style: none;
  overflow: hidden;
  margin: 13px 0;
  padding: 0;
  cursor: pointer;
}
#header .col-md-5 nav ul a {
  margin: 5px 0;
  display: block;
  color: #111;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  /* Safari and Chrome */
  -moz-transition: all .3s ease;
  /* Firefox */
  -ms-transition: all .3s ease;
  /* IE 9 */
  -o-transition: all .3s ease;
  /* Opera */
  transition: all .3s ease;
}
#header .col-md-5 nav ul a:hover {
  text-decoration: none;
  color: #a03033;
}
#header .col-md-5 nav.nav-left ul li {
  float: right;
  margin-left: 20px;
}
#header .col-md-5 nav.nav-right ul li {
  float: left;
  margin-right: 20px;
}
#header .samfundet-icon {
  display: block;
  height: 50px;
  width: 50px;
  margin: 5px auto;
  background-image: url(../assets/img/samfundet_128.png);
  background-repeat: no-repeat;
  background-size: 50px;
}
@media screen and (min-width: 769px) {
  #header .samfundet-icon {
    height: 60px;
    width: 60px;
    background-size: 60px;
    margin: 0 auto;
    background-position: center;
  }
}

.modal-item {
  margin: 0 0 15px;
  right: 0;
}
.modal-item .modal-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  text-decoration: none;
}
.modal-item .modal-link .caption {
  background: rgba(24, 188, 156, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
.modal-item .modal-link .caption:hover {
  opacity: 1;
}
.modal-item .modal-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 40%;
  margin-top: -12px;
  color: white;
}
.modal-item .modal-link .caption .caption-content i {
  margin-top: -12px;
}
.modal-item .modal-link .caption .caption-content h3,
.modal-item .modal-link .caption .caption-content h4 {
  margin: 0;
}
.item-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.item-modal .modal-content h2 {
  margin: 0;
  font-size: 3em;
}
.item-modal .modal-content img {
  margin-bottom: 30px;
}
.item-modal .modal-content .item-details {
  margin: 30px 0;
}
.item-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.item-modal .close-modal:hover {
  opacity: 0.3;
}
.item-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #4183D7;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.item-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #4183D7;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.item-modal .modal-backdrop {
  opacity: 0;
  display: none;
}

.bookingoObject {
  padding-bottom: 15px;
}

.bookingoObject button {
  border-radius: 0;
}

/*Arrangementer*/
.arrangementerModal .col-md-12 {
  padding-top: 80px;
}

#arrangementer button {
  background-color: #ba202c;
  color: white;

}
#arrangementer button:hover {
  background-color: #401314;
}

.arrangementerModal button {
  border-radius: 0;
  margin-top: 50px;
}

.arrangementerModal div {
  margin: auto;
}

.arrangementerModal h2, .modalRapport h3 {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: 20px;
}

.arrangementerModal p, .modalRapport p {
  margin-left: 50px;
  padding-top: 10px;
  clear: both;
  float: left;
}

.modalRapport {
  background-color: #fefefe;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  height: 750px;
  width: 80%;
  margin: 50px auto;
}

  /*Bookingoversikt*/

  .italic {
    font-style: italic;
  }
 .dateDesign {
   color: #ba202c;
 }

 .fontFamily{
   font-family: "Avenir Book", Arial, sans-serif;;
 }

 .pFontSize {
   font-size: 17px;
 }
 .fontSizeDate {
   font-size: : 36px;
 }
 .alignMiddle{
   padding-top: 9px;
 }
 .textAlign {
   text-align: center;
 }
 .border-Right{
   border-right: 1px solid grey;
 }
