<div class="col-md-12">
  <h1>Rapporter:</h1>
  <input id="search" name="search" placeholder="Søk i rapporter" type="search" ng-model="searchingString" ng-change="filterFunction()">
  <br><br>
  <select ng-model="valgtSjanger" ng-change="filterFunction()">
    <option value="velg">Velg sjanger</option>
    <option value="Alternativ">Alternativ</option>
    <option value="Blues">Blues</option>
    <option value="Country">Country</option>
    <option value="Dance">Dance</option>
    <option value="Elektronisk">Elektronisk</option>
    <option value="Folk">Folk</option>
    <option value="Hip Hop">Hip Hop</option>
    <option value="Indie">Indie</option>
    <option value="Jazz">Jazz</option>
    <option value="Klassisk">Klassisk</option>
    <option value="Norsk">Norsk</option>
    <option value="Opera">Opera</option>
    <option value="Pop">Pop</option>
    <option value="R&amp;B">R&amp;B</option>
    <option value="Reggae">Reggae</option>
    <option value="Rock">Rock</option>
  </select>
  <select ng-model="valgtScene" ng-change="filterFunction()">
    <option value="velg">Velg scene</option>
    <option value="Edgar">Edgar</option>
    <option value="Klubben">Klubben</option>
    <option value="Knaus">Knaus</option>
    <option value="Storsalen">Storsalen</option>
  </select>
  <input type="checkbox" name="vehicle" ng-model="visTidligereArrangementer" ng-change="filterFunction()">Vis tidligere arrangementer
    <h2 ng-hide="((valgtScene == 'velg') && (valgtSjanger == 'velg') && ((searchingString == undefined) || (searchingString == '')))">Søkeresultat</h2>
  <ul>
    <li ng-repeat="(key, value) in filtrertListe">
      <h2>{{intToDateFunction(key).toDateString()}}</h2>
      <ul>
        <li ng-repeat="(key, konsert) in value" ng-init="showAvvisForm = false">
          <p><b>Artist:</b> {{konsert.artist}}</p>
          <p><b>Scene:</b> {{konsert.scene}}</p>
          <p><b>Tid:</b> {{konsert.tid}}</p>
          <p><b>Billettpris:</b> {{konsert.billettpris}}</p>
          <p><b>Sjanger:</b> {{konsert.sjanger}}</p>
          <p><b>Status:</b> {{konsert.status}}</p>

            <div class="col-lg-2">
              <a ng-click="hasRapportFunction(key); updateModal(key, konsert)" href="#information-modal" target="_self" class="modal-link" data-toggle="modal"><button type="button" class="btn btn-danger">Se Rapport</button></a>
            </div>

          <br>
        </li>
      </ul>
    </li>
  </ul>
</div>

<div class="item-modal modal fade" ng-blur="showRapport = false" id="information-modal" tabindex="-1" role="dialog" aria-hidden="true" ng-init="showRapport = false">
        <div class="modal-content" style="width:75%; height: 75%; margin: auto;"> <!-- FJERN CSS NÅR EKSTERN CSS-FIL LEGGES TIL -->
            <div class="close-modal" data-dismiss="modal" ng-click="clearModalRapport()">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="modal-body">
                          <h2>Rapport for "{{modalInformation.artist}}"</h2>
                          <p><b>Publikumstall:</b> {{modalRapport.publikumstall}}</p>
                          <p><b>profitt:</b> {{modalRapport.profitt}}</p>
                          <p><b>tilleggskostnader:</b>{{modalRapport.tilleggskostnader}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
